:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%; /* 62.5% X 16px = 10px */
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem; /* 1 X font size of the html element */
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* Links */
.link {
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-size: bold;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }
}

.link::after {
  content: "-->";
  margin-left: 0.5rem;
  transition: margin 0.15s;
}

.link:hover::after {
  margin-left: 1rem;
}

/* Badges */
.badge {
  border-radius: 2rem;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-primary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--bold {
  font-weight: bold;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick .list__item::before {
  content: url(../icons/tick.svg);
  margin-right: 0.5rem;
}

.list--tick2 {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}

.list--tick2 .list__item {
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick2 .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  display: inline-flex;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.button {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  margin: 2rem, 3rem;
}

.button--outline {
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
}

.button--block {
  display: block;
  text-align: center;
}

.button--accent {
  color: white;
  background-color: var(--color-accent);
}

.button--accent:hover {
  background-color: #fc4e23;
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
}

.button--headings:hover {
  background-color: #4d1cff;
}

.button--headings {
  color: white;
  background-color: var(--color-headings);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
}

.button--secondary:hover {
  background-color: #49e6ff;
}

.button-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  top: 6px;
}

.button-icon {
  fill: white;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input--no-border {
  border: 0;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 2px solid var(--color-border);
  border-radius: 40px;
  display: flex;
  /* justify-content: space-between; */
  padding: 0.1rem;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}

.input-group .button {
  margin: 1px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  /* 1024px 이상인 경우 */
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem; /* 1 X font size of the html element */
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
