:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%; /* 62.5% X 16px = 10px */
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 7rem; /* 1 X font size of the html element */
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* Links */
.link {
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-size: bold;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }
}

.link::after {
  content: "-->";
  margin-left: 0.5rem;
  transition: margin 0.15s;
}

.link:hover::after {
  margin-left: 1rem;
}

/* Badges */
.badge {
  border-radius: 2rem;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: var(--color-headings);
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-primary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--bold {
  font-weight: bold;
}

.list--inline {
  display: flex;
}

.list--tick .list__item::before {
  content: url(../icons/tick.svg);
  margin-right: 0.5rem;
}

.list--tick2 {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}

.list--tick2 .list__item {
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick2 .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  display: inline-flex;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.button {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3rem;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  margin: 2rem 0;
}

.button--small {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
}

.button--stretched {
  padding: 2rem 10rem;
}

.button--outline {
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
}

.button--block {
  display: block;
  text-align: center;
}

.button--accent {
  color: white;
  background-color: var(--color-accent);
}

.button--accent:hover {
  background-color: #fc4e23;
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
}

.button--headings:hover {
  background-color: #4d1cff;
}

.button--headings {
  color: white;
  background-color: var(--color-headings);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
}

.button--secondary:hover {
  background-color: #49e6ff;
}

.button-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  top: 6px;
}

.button-icon {
  fill: white;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border-radius: 30px;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input--no-border {
  border: 0;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  /* border: 2px solid var(--color-border); */
  box-shadow: 0 0 30px #dedede;
  border-radius: 40px;
  display: flex;
  /* justify-content: space-between; */
  padding: 0.1rem;
  margin: 2rem;
  margin-top: 4rem;
}

.input-group .input {
  min-width: 0;
  width: auto;
  border: 0;
  flex-grow: 1;
}

.input-group .button {
  margin: 1px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}

/* Plans */
.plan {
  position: relative;
  margin: 1rem 0;
}

.plan--popular::after {
  content: url(/icons/popular.svg);
  width: 35px;
  height: 100px;
  position: absolute;
  right: 60px;
  top: -5px;
}

.plan .plan__name {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.plan .plan__price {
  font-size: 5rem;
}

.plan .plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
}

.plan .badge {
  margin-left: 2rem;
}

.plan .badge--primary {
  background-color: #01a1ba;
}

.plan .plan__description {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin: 3rem 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.popular-badge {
  width: 35px;
  height: 100px;
  position: absolute;
  right: 80px;
  top: -11px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan_billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__image {
  padding: 2rem;
  /* display: inline-block; */
}

.media__text {
  padding-top: 1.8rem;
  /* display: inline-block; */
}

.media__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-body);
}

.media__description {
  font-size: 1.8rem;
  padding-right: 2rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text {
  margin: 0;
}

.quote__text::before {
  /* content: '"'; */
  content: open-quote;
}

.quote__text::after {
  /* content: '"'; */
  content: close-quote;
}

.quote .media__image {
  position: relative;
  top: -5px;
}

.quote .media__title {
  color: var(--color-headings);
  font-style: normal;
}

.quote .media__description {
  font-style: normal;
  opacity: 0.4;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote .media__title {
    font-size: 2.4rem;
  }

  .quote .media__description {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

/* Testimonials */
.testimonials .image-container {
  position: relative;
  width: 100%;
}

.testimonials .image {
  width: 100%;
}

.testimonials .grid-item {
  padding: 3rem;
  margin: 0;
}

.testimonials .image-container .icon {
  fill: white;
  background-color: var(--color-accent);
}

.testimonials .icon-container {
  position: absolute;
  background-color: var(--color-accent);
  top: 20px;
  right: -30px;
}

/* Callouts */
.callout {
  background-color: var(--color-primary);
  border-radius: 10px;
  color: white;
}

.callout .callout__text {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
}

.callout .callout__title {
  margin: 0;
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}

.callout .callout__description {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.callout .callout__button {
  margin-bottom: 20px;
}

.callout .button {
  padding-right: 4rem;
  padding-left: 4rem;
}

/* Collapsible */
.collapsible {
  background: black;
}

.collapsible .collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible .collapsible__title {
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 3rem;
}

.collapsible .collapsible__icon {
  width: 4rem;
  height: 4rem;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible .collapsible__body {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  line-height: 2;
  text-transform: capitalize;
  color: var(--color-body);
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__body {
  max-height: 100vh;
  opacity: 1;
  /* overflow: visible; */
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block--dark {
  background: black;
  color: #7b858b;
}

.block__heading {
  margin-top: 0;
}

.block--dark .block__heading {
  color: white;
}

.block--skewed-right {
  clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--path-custom {
  clip-path: polygon(
    10% 13%,
    7% 51%,
    21% 85%,
    74% 93%,
    84% 76%,
    94% 41%,
    94% 5%
  );
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .callout {
    grid-template-columns: 1fr auto;
  }

  .callout .callout__text {
    text-align: left;
  }

  .callout .callout__button {
    margin: 0 6rem 0 0;
    /* justify-self: start; */
  }
}

/* Navigation Bar */
.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-bar a {
  color: #d2d0db;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-bar a:hover {
  color: #fff;
}

.navigation-bar .list {
  display: block;
  width: 100%;
  margin: 1rem;
}

.navigation-bar .list__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #222;
}

.navigation-bar .collapsible {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
}

.navigation-bar .collapsible--expanded {
  opacity: 1;
  box-shadow: 0 0 5px 1px white;
  border-radius: 5px;
}

.navigation-bar .collapsible + .list {
  max-height: 0;
  overflow: hidden;
}

.navigation-bar .collapsible--expanded + .list {
  max-height: 100vh;
}

.nav__brand {
  transform: translateY(50px);
  /* transition: transform 3s; */
}

/* .navigation-bar .list_item {
  display: block;
  width: 100%;
} */

@media screen and (min-width: 1024px) {
  .navigation-bar .icon {
    display: none;
  }

  .navigation-bar .collapsible + .list {
    width: auto;
    max-height: 100vh;
    display: flex;
    margin-right: 3rem;
  }

  .navigation-bar .list .list__item {
    margin-right: 3rem;
    border-bottom: none;
  }
}

/* Heroes */
.hero {
  text-align: center;
}

.hero h1 {
  line-height: 1.3;
}

.hero__tagline {
  letter-spacing: 1px;
}

.hero .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__banner {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .hero .grid-item {
    align-items: start;
  }

  .hero .button {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 7rem;
  }

  .hero p {
    font-size: 2.2rem;
  }

  .hero .button {
    font-size: 1.5rem;
    padding: 0.6em 1.2rem;
  }
}

/* Domains */

.domain .block__heading {
  font-size: 4rem;
}

.domain__tagline {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 3rem;
}

.domain .grid--cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.domain .grid-item {
  display: flex;
  flex-direction: column;
}

.domain .badge {
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  .domain .grid--cols-3 {
    display: flex;
    justify-content: center;
  }

  .domain .grid-item {
    flex-direction: row;
  }

  .domain .badge {
    font-size: 1.5rem;
  }

  .domain .input-group {
    font-size: 1rem;
    width: 700px;
    margin: 0 auto;
  }

  .domain .input {
    padding: 0.8rem 2.5rem;
  }

  .domain .button {
    padding: 0.8rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  /* 1024px 이상인 경우 */
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem; /* 1 X font size of the html element */
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
