<span class="button button--accent button--block">get started</span>
   <span class="button button--outline button--block">buy now</span>
   <span class="button button--accent">&#128269; search</span>
   <span class="button button--accent">
        <span class="button-icon-container">
            <svg class="button-icon">
                <use xlink:href="icons/sprite.svg#search"></use>
            </svg>
        </span>
    search</span>
   <span class="button button--headings">GET STARTED</span>
   <span class="button button--secondary">GET STARTED</span>
   <span class="button button--headings button--block">GET STARTED</span>
   <span class="button button--outline">GET STARTED</span>