<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="icons/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__text">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="media__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      consectetur voluptas tenetur sequi similique quos enim est! Perferendis
      asperiores, et, fugit, nulla voluptate dignissimos eum maxime impedit
      minus culpa quis!
    </p>
  </div>
</div>
