<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestiae
    repellendus ducimus ratione laudantium nemo corrupti velit culpa cumque aut.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__text">
        <h3 class="media__title">John Smith</h3>
        <p class="media__description">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
